{% extends "base.html" %}

{%block content%}
    <div class="student-container">
        <div class="form-container">
            <div class="overlap-form-text">
                <h2>Create Attendance</h2>
            </div>
            <form action="" method="post">
                <label for="">Status:</label>
                <select name="status" id="">
                    <option value="Present">Present</option>
                    <option value="Late">Late</option>
                    <option value="Absent">Absent</option>
                </select>
                <label for="">Student:</label>
                <select name="student" id="">
                    <option value="">Mohammad Abdulmanan</option>
                </select>
                <label for="">Schedule:</label>
                <select name="schedule" id="">
                    <option value="">232</option>
                </select>
                <div class="date-gender-container">
                    <div class="date-cont">
                        <label for="">Date:</label>
                        <input type="date" name="date" id="">
                    </div>
                    <div class="gender-cont">
                        <label for="">Time:</label>
                        <input type="time" name="time" value="00:00" id="">
                    </div>
                </div>
                
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="list-container">
            <div class="overlap-list-text">
                <h2>List of Attendance</h2>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Student</th>
                            <th>Schedule</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Present</td>
                            <td>Salih Abdulmanan</td>
                            <td>IT-021</td>
                            <td>7/10/2004</td>
                            <td>12:00 PM</td>
                            <td>
                                <a href="">Read</a> |
                                <a href="">Update</a> |
                                <a href="">Delete</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock content%}