{% extends "base.html" %}

{%block content%}
    <div class="student-container">
        <div class="form-container">
            <div class="overlap-form-text">
                <h2>Create Course</h2>
            </div>
            <form action="{%url 'add_course'%}" method="post">
                {%csrf_token%}
                <label for="">Course:</label>
                <input type="text" name="course" id="">

                <label for="">Description:</label>
                <textarea name="description" id="" rows="5" cols="50" style="resize: none"></textarea>
        
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="list-container">
            <div class="overlap-list-text">
                <h2>List of Courses</h2>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Description</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for data in course_data%}
                        <tr>
                            <td style='text-align:left;'>{{data.course}}</td>
                            <td style='text-align:left;'>{{data.description}}</td>
                            <td>
                                <a href="{%url 'update_course' data.id%}">Update</a> |
                                <a href="{%url 'delete_course' data.id%}">Delete</a>
                            </td>
                        </tr>
                        {%endfor%}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock content%}