{% extends "base.html" %}

{%block content%}
    <div class="student-container">
        <div class="form-container">
            <div class="overlap-form-text">
                <h2>Create Teacher</h2>
            </div>
            <form action="{%url 'add_teacher'%}" method="post">
                {% csrf_token %}
                <label for="">First Name:</label>
                <input type="text" name="fname" >

                <label for="">Last Name:</label>
                <input type="text" name="lname">
        
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="list-container">
            <div class="overlap-list-text">
                <h2>List of Teachers</h2>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for data in teacher_data%}
                        <tr>
                            <td>{{data.firstname}}</td>
                            <td>{{data.lastname}}</td>
                            <td>
                                <a href="{%url 'update_teacher' data.id%}">Update</a> |
                                <a href="{%url 'delete_teacher' data.id%}">Delete</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock content%}